* {margin: 0; padding: 0;}
body {
  font-family: sans-serif;
}
/* ------------ */
.all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header {
  font-family: 'Share Tech Mono', monospace;
  text-transform: uppercase;
  margin-top: 10px;
  text-align: center;
}
.choose-lang {
  margin-top: 20px;
  text-align: center;
}

.langs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 10px;
}
.langs .lang-el {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}
.langs div {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  opacity: 0.75;
}
.langs div:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  opacity: 1;
}
.langs img {
  width: 70px;
  margin: 0 10px;
  cursor: pointer;
  -webkit-user-drag: none;
  -webkit-user-select: none;
}

.generated {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  height: 30vh;
  background-color: #f1f2f4;
  border-radius: 10px;
  font-size: 20px;
}
.generated p {
  padding: 10px;
  color: rgba(0,0,0,0.65);
}

.user-hint {
  font-family: 'Share Tech Mono', monospace;
  text-transform: uppercase;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.user-hint i {
  font-size: 20px;
  padding: 7px;
  -webkit-animation: turn 2s ease;
          animation: turn 2s ease;
}

@-webkit-keyframes turn {
  from {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}

@keyframes turn {
  from {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
  to {-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}

.footer {
  font-family: 'Share Tech Mono', monospace;
  width: 100%;
  background-color: #f1f2f4;
  color: #545455;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  bottom: 0;
  padding: 10px 0;
}
.footer a {
  text-decoration: none;
  color: #545455;
}
.footer span,
.footer .made-by
{
  padding: 0 10px;
}